<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <title>Feedback</title>
</head>
<body>
    <div class="feedback-container">
        <div>
            {% if status %}
            <p class="correct">Correct!</p>
            <div class="solutions">
                <p class="kanji">{{ kanji }}</p>
                <span>Possible solutions:</span>
                {% for meaning in meanings %}
                {% if forloop.last %}
                <span>{{ meaning }}</span>
                {% else %}
                <span>{{ meaning }}, </span>
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <div class="feedback">
                <p class="false">False!</p>
                <div class="solutions">
                    <p class="kanji">{{ kanji }}</p>
                    {% for meaning in meanings %}
                    {% if forloop.last %}
                    <span>{{ meaning }}</span>
                    {% else %}
                    <span>{{ meaning }}, </span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div>
                <a href="/" class="btn glow-rose">Next</a>
            </div>
        </div>
    </div>
</body>
</html>