<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanji Quiz</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <div id="settings">
        <details id="menu_details">
            <summary>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" height="12"><path id="svg_path" d="M21 1H1M21 9H1M21 17H1" stroke="#29293a" stroke-width="1.5" stroke-linecap="square"></path></svg>  Settings
            </summary>
        </details>
    </div>
    <div class="quiz-container">
        <div>
            <p id="kanji">{{ kanji }}</p>
            <form action="/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="kanji_id" value="{{ kanji_id }}">
                <input type="text" placeholder="Type meaning..." name="answer" id="answer" required>
            </form>
        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>